.Rentsoftware{
    width: 100%;
    background-color:#093550;
    display: flex;
    flex-direction: column;
}
.Rentsoftware_row1{
    padding-top: 150px;
}
.Rentsoftware_row2 h1{
    color: rgb(219, 139, 41);
    font-size: 24px;
   


}

.Rentsoftware_row2_ppp{
    color: #d8c4c4;
    font-size: 22px;padding-top: 70px;
}